.resume {
  font-family: 'Roboto', sans-serif;
  background: white;
  border: 1px solid #222;

  display: flex;

  aspect-ratio: 0.707;
  width: 800px;
  height: fit-content;

  & .resume-side {
    padding: 1rem;
    width: 0;
    flex-grow: 1;
    background: #9CA7AE;
    & .resume-side-content {
      overflow: hidden;
    }
  }
  & .resume-main {
    padding: 1rem;
    width: 0;
    flex-grow: 3;
    background: #EEE;
    & .resume-main-content {
      overflow: hidden;
    }
  }
}